<style>
    .line{        
        height: 40px;
        width: 7px;
        border-radius: 100px;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mail Whizz</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item line card">                
            </li>
            <li class="nav-item">
                <img src="/images/gmail.png" alt="Gmail Logo" width="40" height="40"/>                
            </li>                        
        </ul>        

        <div class="d-flex">
            <img src="/images/user.png" width="40" height="40" alt="user icon" >
        </div>
    </div>
</nav>