<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('mail_box_total', (value) => {
        const item = document.getElementById("totalEmails");
        item.innerHTML = value;
    });

    socket.on('show_error', (value) => {
        alert(value);
    });

    socket.on('mail_connection_status', (value) => {
        const item = document.getElementById("mailConnectionStatus");
        item.classList.remove("bg-success");
        item.classList.remove("bg-info");
        item.classList.remove("bg-danger");
        if (value == "connected") {
            item.classList.add("bg-success");
            item.innerHTML = "Connected to Mail";
        }
        else if (value == "connecting") {
            item.classList.add("bg-info");
            item.innerHTML = "Connecting to Mail ...";
        }
        else {
            item.classList.add("bg-danger");
            item.innerHTML = "Disconnected from Mail";
        }
    });

    socket.on('display_mails_tasks', (value) => {
        const item1 = document.getElementById("inboxMails");
        const item2 = document.getElementById("tasksLoader");

        item1.innerHTML = null;

        if (value?.emails?.length > 0) {                    
            for (let email of value?.emails) {
                const card = `<div class="cardX">
                                <div class="mailAvatar bg-info">
                                    <span class="text">${email.initials}</span>
                                </div>
                                <div class="mailBody">
                                    <p class="time">${email.timeAgo}</p>
                                    <p class="subject">${email.subject}</p>
                                    <p class="from">From: ${email.from_email}</p>
                                </div>
                            </div>`
                item1.innerHTML += card
            }
        }
        else {
            item1.innerText = "No have no mails which have been processed";
        }

        if (value?.tasks?.length == 0) {
            item2.innerText = "You have no pending tasks";
        }
        else {
            item2.innerText = "Yet to add code to show the tasks";
        }
    });
</script>