<style>
    .sideBar {
        padding: 10px;
        height: 100%;
    }

    .sideBar h6 {
        font-weight: bold;
    }

    .inbox {
        margin-top: 30px;
        height: 40%;
    }

    .attachments {
        height: 40%;
    }

    .mailAvatar {
        overflow: visible;
        border: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 100%;
    }

    .mailAvatar span {
        color: #fff;
        padding: 5px;
    }

    .cardX {
        display: inline-flex;        
        border-bottom: 1px solid rgb(229, 229, 229);
        width: 100%;
        cursor: pointer;
        text-decoration: none;
        padding: 5px;
        border-radius: 20px;
    }

    .cardX:hover{                
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .mailBody {
        margin-left: 10px;
        width: 100%;
        display: block;
        overflow: hidden;

    }

    .subject {
        font-weight: bold;
        margin: 0px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .time {
        font-size: small;
        margin-right: 1px;
        float: right;
    }

    .from {
        font-size: small;
        margin: 0px !important;
    }
</style>

<div class="sideBar bg-light" data-bs-theme="light">    
    <div class="inbox">
        <h6>Inbox</h6>
        <div id="inboxMails">
            No have no mails which have been processed            
        </div>
    </div>
    <div class="attachments">
        <h6>Attachments</h6>
        <p>No un-read attachments</p>
    </div>
</div>
<script>
    const goToEmailDetailsSection = (emailId) => {                        
        $("#dashboardBtn").show()
        $("#homeSection").slideUp("slow");
        $("#emailDetailsSection").slideDown("slow");

        socket.emit("get_mail", emailId);
    }    
</script>