<style>
    body {
        overflow: hidden;
    }

    .content {
        padding: 30px;
        height: 95vh;
        overflow: auto !important;
    }

    .emailBody {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .taskCard {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .title {
        font-weight: bold;
    }

    .btnCard {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .btnCard .btn {
        margin-bottom: 10px;
    }
</style>

<body>
    <div id="successToast"
        class="toast align-items-center text-bg-success border-0 position-absolute top-0 start-50 translate-middle-x"
        role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Successfully sent your message reply
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>

    <h1 class="display-4 welcomeTxt" id="emailDetailTitle">Loading Title...</h1>
    <p class="lead" id="emailDetailFrom">From:- Loading ...</p>
    <p id="emailDetailId" style="display: none;"></p>
    <p id="emailDetailMessageId" style="display: none;"></p>

    <div class="row">
        <div class="col-md-7">
            <div id="emailDetailBody" class="card emailBody bg-light">
                <p>Loading Email Body ...</p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card bg-light taskCard">
                <h5 class="title">Tasks / Key Points</h5>
                <ul id="emailDetailTasks">
                    <li>Loading ...</li>
                </ul>
            </div>

            <div class="card bg-light btnCard">
                <h5 class="title">How can I help you with this Email?</h5>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#replyMailModal" onclick="getReplySuggestion()">Generate reply suggestion</button>
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                    data-bs-target="#replyMailModal" onclick="openReplyManualy()">Manually reply to email</button>
                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                    data-bs-target="#summaryMailModal" onclick="generateEmailSummary()">Get Summary</button>
                <button type="button" class="btn btn-outline-dark">Mark as Read</button>
            </div>
        </div>
    </div>

    <!-- Email Reply Modal -->
    <div class="modal fade" id="replyMailModal" tabindex="-1" aria-labelledby="replyMailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="replyMailModalLabel">Reply Suggestion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="emailReplyTo" class="form-label mt-4">To:-</label>
                        <input name="email" type="email" class="form-control rounded" id="emailReplyTo"
                            aria-describedby="emailHelp" placeholder="Enter email">

                        <label for="emailBodyText" class="form-label mt-4">Email Body:-</label>
                        <textarea class="form-control" id="emailBodyText" rows="10" spellcheck="true"
                            placeholder="Enter your message here"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" onclick="sendReply()"
                        data-bs-dismiss="modal">Send Reply</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Summary Modal -->
    <div class="modal fade" id="summaryMailModal" tabindex="-1" aria-labelledby="summaryMailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="summaryMailModalLabel">Summary of Email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" id="mailSummarySection" style="background-color: white; padding: 10px;">
                        <p>Generating email summary ...</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    const generateEmailSummary = () => {
        const emailDetailBody = document.getElementById("emailDetailBody").innerHTML;
        socket.emit("generate_mail_summary", emailDetailBody);
    }

    const openReplyManualy = () => {
        const replyMailModalLabel = document.getElementById("replyMailModalLabel");
        replyMailModalLabel.innerHTML = "Reply Manually";

        const emailBodyText = document.getElementById("emailBodyText");
        emailBodyText.value = null;

        const emailDetailFrom = document.getElementById("emailDetailFrom");
        const emailReplyTo = document.getElementById("emailReplyTo");
        emailReplyTo.value = emailDetailFrom.innerHTML.split(":- ")[1];
    }

    const getReplySuggestion = () => {
        const emailDetailBody = document.getElementById("emailDetailBody").innerHTML;
        socket.emit("generate_reply_suggestion", emailDetailBody);
    }

    const sendReply = () => {
        const emailReplyTo = document.getElementById("emailReplyTo").value;
        const emailDetailTitle = document.getElementById("emailDetailTitle").innerHTML;
        const emailBodyText = document.getElementById("emailBodyText").value;

        const emailDetailMessageId = document.getElementById("emailDetailMessageId").innerHTML;

        // inReplyTo: emailDetailMessageId,
        // references: [emailDetailMessageId],

        const payload = {
            from: '',
            to: emailReplyTo,
            replyTo: emailReplyTo,
            subject: emailDetailTitle,
            text: emailBodyText
        }

        socket.emit("send_reply", payload);

        setTimeout(() => {
            const successToast = document.getElementById('successToast')
            const toast = new bootstrap.Toast(successToast)
            toast.show()
        }, 500);
    }    
</script>