.center {
    margin: auto;
}

.rounded {
    border-radius: 100px !important;
}

.bg-orange {
    background-color: #fb5607;
}

.bg-purple {
    background-color: #5f0f40;
}

.bg-red {
    background-color: #9a031e;
}