<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Mail Whizz - Sign In</title>        
        <link rel="stylesheet" href="css/authScreens.css">
</head>

<body>
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 leftSide">
            </div>
            <div class="col-md-6 center rightSide">
                <%- include('../partials/notifications'); %>
                
                <h1>Welcome to Mail Whizz, </h1>
                <h5><i>"Streamline Your Inbox, Simplify Your Life!"</i></h5>
                <form method="post" action="/apis/sign_in_user">
                    <fieldset>
                        <div class="form-group">
                            <label for="emailInput" class="form-label mt-4">Email address</label>
                            <input name="email" value="pyramyra33@gmail.com" type="email" class="form-control rounded" id="emailInput"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="passwordInput" class="form-label mt-4">Password</label>
                            <input name="password" value="ofqklekyeygzpcbe" type="password" class="form-control" id="passwordInput" placeholder="Password"
                                autocomplete="off">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary submitBtn">Sign In</button>
                        </div>
                    </fieldset>
                </form>                
                <a href="signUp" class="btn btn-link btn-sm">Do not have an account? Sign Up!</a>                
            </div>
        </div>
    </div>
</body>
<%- include('../partials/script'); %>

</html>